@charset "UTF-8";

* {
  margin: 0;
  padding:0;
  list-style: none;
  font-family: "맑은 고딕", sans-serif;
  color: #333;
  font-size: 16px;
  box-sizing: border-box;
}

html, body {
  background-color: #fff;
}

a, ul, li {
  text-decoration: none;
  display: block;
}
img {
  border: none;
}


/* 헤더 */
header {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
  height: 40px;
  background-color: red;
}

.gnb {
  width: 600px;
  height: 40px;
}

.gnb .mainmenu {
  height: 100%;
  display: flex;
  align-items: center;
}

.mainmenu > li {
  height: 100%;
  flex-grow: 1;
  text-align: center;
  position: relative;
}
.mainmenu > li > a:hover {
  background-color: salmon;
}

.mainmenu > li > a {
  padding: 10px;
  font-weight: bold;
}
.submenu {
  width: 100%;
  position: absolute;
  top: 40px;
  z-index: 99;
}
.submenu {
  height: 100%;
}
.submenu li a {
  height: 100%;
  padding: 10px 0;
}
.submenu li a:hover {
  background-color: salmon;
}








/* 메인 */
main {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
}
.slide {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.slide-images {
  width: 3600px;
  height: 300px;
  font-size: 0;
}
.slide-images a {
  width: 1200px;
  height: 100%;
  display: inline-block;
}
.slide-images .image1 {
  background-color: #ddd;
}
.slide-images .image2 {
  background-color: #555;
}
.slide-images .image3 {
  background-color: #888;
}





/* 컨텐츠 */
.contents {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.contents > div {
  width: 33.3%;
  height: 100%;

}

.tabMenu {
  display: flex;
}
.tabMenu > li > a {
  min-width: 85px;
  padding: 10px;
  background-color: #eee;
  text-align: center;
  font-size: 14px;
}

/* 활성화된 탭 */
.tabMenu > li.active > a {
  font-weight: bold;
  background-color: #fff;
}
.tabMenu > li:first-child > a {
  border-right: none;
}

.tabMenu > li .tab-cont {
  display: none;
}
.tabMenu > li.active .tab-cont {
  display: block;
}

.tab-cont {
  width: 33.3%;
  position: absolute;
  overflow: hidden;
  height: 161px;
  padding: 14px 6px;
}


.notice ul li {
  padding: 8px 10px;
  border-bottom: 1px solid #222;
}
.notice ul li:hover {
  background-color: #eee;
}
.notice ul li:last-child {
  border: none;
}
.notice ul li a {
  font-size: 14px;
}
.notice ul li a span {
  font-size: 14px;
  float: right;
}

.gallery {
  left: 0;
}

.gallery ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}












.banner {
  background-color: royalblue;
}

.go_link {
  background-color: darkgray;
}




/* 푸터 */
footer {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  background-color: cadetblue;
}